<mat-card-content>
    <form class="my-form" [formGroup]="rentHouseForm" (ngSubmit)="rent()">
        <h2>Book Your Stay</h2>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Card Owner Name</mat-label>
            <input matInput placeholder="Card Owner Name" formControlName="ownerName" required>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Card Number</mat-label>
            <input matInput placeholder="Card Number" formControlName="cardNum" required>
        </mat-form-field>
        
        <mat-form-field class="full-width" color="primary" appearance="outline">
            <mat-label>Card Expiration Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="expDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Billing Address</mat-label>
            <textarea matInput placeholder="Billing Address" formControlName="billingaddress" required></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Book Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="startDate">
              <input matEndDate placeholder="End date" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
            
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" type="email" required>
        </mat-form-field>
       
        <mat-card-actions>
            <button mat-raised-button  type="submit" [disabled]="rentHouseForm.invalid">CONFIRM BOOKING</button>
        </mat-card-actions> 
    </form>
</mat-card-content>